*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  background-color:lightgrey;
}

/* Add a black background color to the top navigation */
.HoangNav {
    background-color: #333;
    overflow: hidden;
    border-radius: 7px; /* 7px rounded corners */
  }
  
  /* Style the links inside the navigation bar */
  .HoangNav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .HoangNav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .HoangNav a.active {
    background-color: #4CAF50;
    color: white;
  }

.card {
  /* Add shadows to create the "card" effect */
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 5%;
  margin-left: 25%;
  width:50%;
  display: grid;
  float:left;
  position: relative;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}

/* Add some padding inside the card container */
.container {
  padding: 0 2%;
  font-family: roboto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 7px; /* 7px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

.archerProjBtn, .jinaProjBtn{
  float:right;
  margin-bottom: 5px;
  border-radius: 5%;
   
}

.slides{
  border-radius: 7px; /* 7px rounded corners */
}

.textCard{
  /* Add shadows to create the "card" effect */

  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 5%;
  margin-left: 2%;
  width:auto;
  display: grid;
  border-width: 5%;
  float: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pfpCard{
  /* Add shadows to create the "card" effect */
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 1%;
  margin-left: 30%;
  width:20%;
  display: grid;
  border-width: 5%;
  float: left;
  position: relative;

}

.pfpTextCard{
  /* Add shadows to create the "card" effect */
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 5%;
  margin-left: 2%;
  width:auto;
  display: grid;
  border-width: 5%;
  float: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.projDesc{
  font-size: 20px;
  padding-left:2%;
}

.projTitle{
  font-size: 30px;
  margin-bottom: 0px;
  
}

.bullet{
  padding-left: 10%;
  font-size: large;
}

.textCard{
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

.profHead{
  margin-bottom: 0px;

}


.qualificationCard{
  /* Add shadows to create the "card" effect */
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 1%;
  margin-left: 25%;
  margin-bottom: 10%;
  width:50%;
  display: grid;
  border-width: 5%;
  float: left;
  position: relative;
}

h5, h6{
  font-size: large;
}
.para{
  font-size: large;
}

.contactCard{
  padding-bottom: 1%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 5%;
  margin-left: 2%;
  width:25%;
  display: grid;
  
  position: relative;
}